.code-entry {
  height: 35vh;
  padding: 5%;
}

.code-entry-title {
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.code-entry-title:hover {
  color:lightpink;
}

.code-entry-medium {
  text-align: center;
}

.medium-stack {
  display:inline-block;
  margin: 10px;
  width: 120px;
  min-width: 100px;
  height: 2em;
  border: 2px solid lightpink;
  line-height: 2em;
  text-align: center;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.medium-stack:hover {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* portfolio full view */

.code-wrapper-full {
  display: flex;
  flex-direction: row;
  margin: 15px; 
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  /* min-width: 600px; */
}

.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 5;
}

.portfolio-reg-list {
  height: 100vh;
  border: red 2px solid;
}

.portfolio-reg-frame {
  border: green 2px solid;
}

.portfolio-reg-frame img {
  width: 70%;
}