.code-entry {
  height: 35vh;
  padding: 5%;
}

.code-entry-title {
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.code-entry-title:hover {
  color:lightpink;
}

.code-entry-medium {
  text-align: center;
}

.code-entry-nav {
  margin-left: 65%;
}

.medium-stack {
  display:inline-block;
  margin: 10px;
  width: 120px;
  min-width: 100px;
  height: 2em;
  border: 2px solid lightpink;
  line-height: 2em;
  text-align: center;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.medium-stack:hover {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* portfolio full view */

.code-wrapper-full {
  display: flex;
  flex-direction: row;
  margin: 15px; 
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 5;
}

.portfolio-reg-list {
  height: 100%;

}

.portfolio-reg-frame {
  border-left: 1px dotted lightgrey;
  margin-left: 2em;
}

.portfolio-reg-frame img {
  width: 70%;
  margin-left: 15%;
}
.portfolio-reg-list-each {
  color: darkgray;
  min-height: 3em;
  padding: 2px;
  margin: 0;
  border-left: 2px solid darkgrey;
}

.portfolio-reg-list-each-active {
  border-left: 2px solid black;
  min-height: 5em;
  padding: 3px;
}

.portfolio-reg-list-each, .portfolio-reg-list-each-active {
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

.portfolio-reg-list-each:hover, .portfolio-reg-list-each-active:hover {
  border-left: 4px solid black;
}

.portfolio-reg-list-each h3 {
  font-size: 1em;
}

.portfolio-reg-list-each span {
  color: lightgrey;
}