* {
  font-family: 'Lato', sans-serif;
}

a {
  color: black;
  text-decoration: none;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

a:hover {
  color:lightpink;
}

/* each page's frame */
.page-frame {
  border: 1px solid black;
  padding: 2em;
  margin: 5em auto 0 auto;
  width: 80%;
  min-width: 300px;
}

.page-frame p {
  margin: 1em auto;
  text-indent: 10%;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  line-height: 2em;
  width:80%;
  max-width: 40em;
}

.page-frame h1 {
  text-align: center;
}

/* nav */
.nav {
  background-color:white;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 100; 
  top: 0px;
  box-shadow: 0px 1px 4px lightgray;
}

.nav-home a {
  font-weight: 700;
  font-size: 1.5em;
}

.nav-link, .nav-home {
  padding: 1em;
}

.nav-link a {
  font-weight: 550;
  font-size: 1.2em;
  margin: 0 0.5em;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.nav-link a:hover {
  color:lightpink;
}

.nav-mobile {
  display: none;
}


/* grid */
.mini-portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, auto);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  /* align-items: stretch; */
}

.mini-portfolio-each {
  position: relative;
  text-align: center;
  /* color: white; */
}

.mini-portfolio-each img {
  max-width:100%;
}

.mini-portfolio-each img:hover {
  filter: blur(1.5px) grayscale(90%);
}

.mini-portfolio-text-hidden {
  display:none;
}


.mini-portfolio-text {
  color:white;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* contact */
.contact-social {
  text-align: center;
  padding: 2em;
  margin: 0 auto;
  width: 80%;
  min-width: 300px;
}

.item {
  margin: 0 2em;
}

@media screen and (max-width: 1260px) {
  .mini-portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
  }
}


@media screen and (max-width: 640px) {
  .nav-link {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .mini-portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, auto);
    grid-gap: 5px;
  }
}