* {
  font-family: 'Lato', sans-serif;
}

a {
  color: black;
  text-decoration: none;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

a:hover {
  color:lightpink;
}

/* each page's frame */
.page-frame {
 border: 1px solid black;
 padding: 2em;
 margin: 0 auto;
 width: 80%;
 min-width: 300px;
}

.page-frame p {
  margin: 1em auto;
  text-indent: 10%;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  line-height: 2em;
  width:80%;
  max-width: 40em;
}

.page-frame h1 {
  text-align: center;
}

/* nav */
.nav {
  overflow:hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-home a {
  font-weight: 700;
  font-size: 1.5em;
}

.nav-link, .nav-home {
  padding: 1em;
}

.nav-link a {
  font-weight: 550;
  font-size: 1.2em;
  margin: 0 0.5em;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.nav-link a:hover {
  color:lightpink;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-link {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
}


/* contact */
.contact-social {
  text-align: center;
  padding: 2em;
  margin: 0 auto;
  width: 80%;
  min-width: 300px;
}

.item {
  margin: 0 2em;
}





